//Fonts
@font-face {
    font-family: "allura";
    src: url(../fonts/Allura-Regular.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Light.ttf);
}

$font1: allura, sans-serif;
$font2: poppins, sans-serif;
$font3: roboto, sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    
    margin: 0 auto;
    font-family: $font3;
}

li {
    list-style: none;
}

//Couleurs
$white1: #f9f9f9;
$orange: rgb(166, 114, 69);
$black: rgb(19, 9, 9);
$grey: rgb(182, 182, 182);
